* {
    margin: 0;
    padding: 0;
}

html {
    color: #FFF;
    background: #046 url("sun_small.jpg") repeat;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#page-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

header {
    background: #000 url('banner.jpg') repeat;
    border-bottom: 1px solid #000;
    text-align: center;
}

section[role="main"] {
    padding: 15px 30px 30px;
    color: #000;
    background-color: #FFF;
}

footer {
    margin: 20px 0;
    color: #FFF;
    font-size: 0.8em;
    text-align: center;
}

h1 {
    padding: 40px 100px;
    text-shadow: #000 5px 5px 5px;
}

h2 {
    color: #046;
    margin-top: 20px;
    border-bottom: 2px solid #046;
}

p {
    margin-top: 10px;
}

ul {
    margin-left: 20px;
}

li {
    list-style-position: inside;
    list-style-type: disc;
    margin-top: 5px;
}

a {
    color: #39C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
