* { 
	margin: 0; 
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background: #004060 url('sun_small.jpg') repeat;
	text-align: center;
}
#wrapper {
	width: 780px;
	margin: 10px auto;	
	border: 1px solid black;
	box-shadow: 5px 5px 10px black;
	-webkit-box-shadow: 5px 5px 10px black;
	-moz-box-shadow: 5px 5px 10px black;
}
#header {
	background: black url('banner.jpg') repeat;
	border-bottom: 1px solid black;
}
#content {
	padding: 15px 30px 30px;	
	color: black;
	background-color: white;
	text-align: left;
}
#footer {
	margin: 10px 0;
	color: white;
	font-size: 0.8em;
}
h1 {
	width: 310px;
	margin: 0 auto;	
	padding: 20px 0;
	text-shadow: black 5px 5px 5px;
}
h2 {
	color: #004060;
	padding-top: 20px;
	border-bottom: 2px solid #004060; 
}
p {
	padding-top: 10px;	
}
a {
	color: #606060;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

