html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

address {
    display: inline;
    font-style: normal;
}

ul {
    list-style: disc outside;
    padding-left: 1.2em;
}

dl {
    padding: 0;
    overflow: hidden;
}

dt,
dd {
    display: inline-block;
    float: left;
    margin: 0 0 0.5em;
}

dt {
    clear: left;
}

main,
.sticky-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

.sticky-wrapper {
    margin-top: -4.2em;
    margin-bottom: 2.5em;
}

header,
footer {
    background: #EEE;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
}

header {
    position: relative;
    padding-bottom: 3.5em;
    margin-bottom: 2.5em;
    border-bottom: 1px solid #CCC;
}

footer {
    margin-top: 2.5em;
    border-top: 1px solid #CCC;
}

h1 {
    font-family: 'Damion';
    font-size: 72px;
    font-weight: normal;
    line-height: 1.2em;
    text-indent: -0.25em;
    width: 6em;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    border: 5px solid #000;
    border-radius: 0.25em;
    text-shadow: 1px 1px 1px #999;
}

header .details {
    margin-top: -1em;
    font-style: italic;
    text-align: center;
    display: inline-block;
    padding: 0 0.5em;
    background: #EEE;
}

.qualification {
    font-size: 1.125em;
    font-weight: bold;
    margin: 0;
}

.experience {
    margin: 0;
}

.main-menu {
    position: relative;
    display: table;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    text-align: center;
    color: #FFF;
    background: #222;
    background-image: -webkit-linear-gradient(bottom, #222 0%, #444 100%);
    background-image: -moz-linear-gradient(bottom, #222 0%, #444 100%);
    background-image: -o-linear-gradient(bottom, #222 0%, #444 100%);
    background-image: linear-gradient(bottom, #222 0%, #444 100%);
    text-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 2px 2px 5px #666;
    -moz-box-shadow: 2px 2px 5px #666;
    box-shadow: 2px 2px 5px #666;
    border-radius: 0.5em;
}

.is-sticky .main-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main-menu a {
    display: table-cell;
    padding: 0.75em;
    font-size: 1.125em;
    color: inherit;
    text-decoration: none;
    outline: 0;
}

@media screen and (max-width: 768px) {
    .main-menu a {
        font-size: 1em;
    }
}

.main-menu a + a {
    border-left: 1px solid #555;
}

.main-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

main a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dotted #000;
}

main a:hover {
    color: #249;
    border-bottom-color: #249;
}

.facts dt {
    width: 12em;
}

h2 {
    font-family: 'Damion';
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2em;
    color: #000;
    border-bottom: 2px solid #000;
    text-shadow: 1px 1px 1px #999;
}

section {
    margin-top: 4em;
}

/* anchor offset due to sticky menu */
section:before {
    content: "";
    display: block;
    height: 4em;
    margin-top: -4em;
}

article {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 3em 0;
}

article aside,
article section {
    display: table-cell;
}

article aside {
    font-size: 1em;
    width: 14em;
    padding-right: 1.5em;
    border-right: 1px solid #CCC;
}

article section {
    padding-left: 1.5em;
    width: calc(100% - 17em);
}

h3,
.place{
    font-family: 'PT Sans Narrow';
    font-size: 1.5em;
    margin-bottom: 1em;
}

.dates {
    font-size: 1.25em;
    margin: -0.25em 0 0;
}

.duration {
    display: inline-block;
    font-weight: normal;
    font-style: italic;
}

.duration:before {
    content: '(';
    display: inline-block;
}

.duration:after {
    content: ')';
    display: inline-block;
}

.skills {
    list-style: none;
    padding-left: 0;
}

@media not print {
    .skills li {
        float: left;
        clear: left;
        position: relative;
        margin: 0.25em 0;
        padding: 0.25em 0.5em 0.25em 1em;
        border-radius: 0.25em 0 0 0.25em;
        line-height: 1;
        background: #359;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
    }

    .skills li:after {
        position: absolute;
        top: 0;
        left: 100%;
        content: "";
        display: inline-block;
        border: 0.75em solid transparent;
        border-right: 0;
        border-left-color: #359;
    }
}

@media print {
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .main-menu,
    .diaporama {
        display: none;
    }

    header,
    footer {
        background: none;
        border: 0;
        padding: 0;
    }
}
