html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
}

#page-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

a:hover {
    color: #06C;
    border-bottom-color: #06C;
}

dl {
    padding: 0;
    overflow: hidden;
}

dt,
dd {
    display: inline-block;
    float: left;
    margin: 5px 0;
}

dt {
    clear: left;
}

address {
    display: inline;
    font-style: normal;
}

.facts > dt {
    width: 10em;
}

article {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px 0;
}

article aside,
article section {
    display: table-cell;
    padding: 10px;
    border: 1px solid #CCC;
}

article aside {
    font-size: 0.9em;
    width: 25%;
}

article section {
    width: 75%;
}

@media print {
    .diaporama {
        display: none;
    }
}
